version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - ACCESS_TOKEN_SECRET=ngoquang178
      - REFRESH_TOKEN_SECRET=ngoquang178
      - APPID=chat-docker-app
      - DATABASE_URL=postgresql://production_user:production_password@postgres:5432/chat_db
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - redis
      - postgres
      - migrate

  redis:
    image: bitnami/redis:6.2.16-debian-12-r3
    container_name: redis-chat
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: production_user
      POSTGRES_PASSWORD: production_password
      POSTGRES_DB: chat_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  migrate:
    build: .
    container_name: migrate
    command: ["sh", "./start.sh"]
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://production_user:production_password@postgres:5432/chat_db

volumes:
  postgres_data: